@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    font-family: 'Raleway', sans-serif;
}

body{
    --header-color: #444c4b;
    --text-color: #fff;
    --btn-color: #87b79c;
    /* width: 100%;
    height: 100%; */
}

/* ================= <NavBar Header>================= */

/* .container{
    margin: 0 auto;
} */


@media screen and (max-width: 799px) {
    
    .nav-right .nav_list{
        /* background-color: aqua; */
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 8rem;
        left: 1rem;  
    }
    .nav-right .menu{
        position: absolute;
        left: 49%;
        top: 4%;
        
    }

    .header{
        padding: 1rem .5rem;
        background-color: #444c4b;
        position: relative;
    }
    
    .header .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* height: 5rem; */
        color: var(--text-color);
        /* background-color: aqua; */
    }
    
    .nav-left{
        max-width: 40%;
    }
    
    .nav-left img{
        max-width: 30%;
        width: 60rem;
    }
    
    .nav-right{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        max-width: 50%;
        gap: 10rem;
    }
    
    .nav_lists{
        display: none;
        
    }

    .show{
        display: block;
    }
    
    .nav_list{
        list-style: none;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 2rem;
        
    }
    
    .nav_links{
        font-size:1.6rem;
        font-weight: 600;
        width: max-content;
    }
    
    .btn_div{
        background: transparent;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    padding: 1rem 1.2rem;
    font-size: 1rem;
    font-weight: 600;
    }
    
    .btn_active{
        border: none;
        outline: none;
        background: var(--btn-color);
    }
    
    .hearder_section{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        padding: 4rem 0rem 0rem 0rem;
    }

    .hearder_toggle{
        margin-top: 22rem;
    }

    .hearder_section .left{
        display: none;
    }

    .hearder_section .right{
        width: 100%;
    text-align: center;
    background: linear-gradient(50deg,#161616,#0000007a),url(/images/pexels-fauxels-3183197.jpg);
    background-size: 100% 200%;
    background-position: center;
    background-repeat: no-repeat;
    }

    .left, .right{
        width: 100%;
        display: contents;
    }
    
    .left img{
        min-width: 50%;
        width: 30rem;
        max-height: 100%;
        height: 40rem;
        background-repeat: no-repeat;
    }
    
    .input_btn input{
        max-width: 75%;
    width: 36rem;
        height: 5rem;
        border: none;
        outline: none;
        
    }
    .input_btn input[placeholder]{
        padding: 0rem 5rem;

    }
    
    .input_btn::before{
        content: url(/images/icons8-mail-24.png);
        position: absolute;
        top: 3px;
        padding: 1rem;
        /* left: 115px; */
    }
    
    .input_btn{
        position: relative;
        margin-top: 5rem;
    }
    
    .input_btn button{
        display: none;
    }
    
    .object_fit{
        object-fit: cover;
    }
    
    .object_position_tl{
        object-position: top left;
    }
    
    .object_position_tr{
        object-position: top right;
    }
    
    .object_position_{
        object-position: center;
    }
    
    .h1{
        /* width: 40rem; */
        font-size: 2rem;
        font-weight: 650;
        margin-bottom: 1.4rem;  
    }
    
    .h1_bolder{
        max-width: 100%;
        width: 70rem;
        font-size: 3rem;
        /* height: 2rem; */
        color: var(--text-color);
        word-spacing: 0.2rem;
        text-align: center;
    }
    
    
    .h1_normal{
        max-width: 100%;
        width: 30rem;
        font-size: 1.8rem;
        font-weight: 650;
        margin-bottom: 1.4rem;
    }
    
    .headings{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 8rem 0;
    }
    .h1_head{
        width: 60rem;
        max-width: 100%;
    font-size: 2.6rem;
    word-spacing: 0.4rem;
    text-align: center;
    display: block;
    }
    
    .right{
        flex-direction: column;
        margin: 1rem auto;
        text-align: center;
        display: flex;
    align-items: center;
    }
    
    .right button{
        margin: 0 auto;
    }
    
    .para{
        margin-top: 2rem;
        max-width: 100%;
        width: 70rem;
        font-size: 1.5rem;
        font-weight: 100;
        color: var(--text-color);
        text-align: center;
    }
    
    .para1{
        margin-top: 1rem;
        width: 43rem;
        max-width: 91%;
        font-size: 1.5rem;
        font-weight: 100;
        height: 8rem;
        color: #000;
        text-align: center; 
    }

    .p-c{
        text-align: center;
    }

    .section_connect{
        
    padding: 2rem 0.2rem;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .project_count{
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* gap: 20rem; */
        max-width: 100%;
        width: 800px;
    }
    
    .project_count div{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .section_img{
        width: 65rem;
        text-align: center;
        /* background-color: aqua; */
        padding: 3rem;
        max-width: 100%;
    }
    
    #img2{
        width: 100%;
        height: 46rem;
        /* object-position: top right; */
    }
    /* ================= <Section Connect END>================= */
    
    /* ================= <Section Grid Start>================= */
    
    .section_grid{
        margin: 0 auto;
    }


    
    .section_grid .grid_div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        /* gap: 1rem; */
        margin-bottom: 15rem;
    }
    
    .section_grid .reverse{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        width: 100%;
        gap: 1rem;
        margin-bottom: 15rem;
    }
    
    /* ================= <Section Grid END>================= */
    
    
    /* ================= <Section Gallery Start>================= */
    
    .section_gallery{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 3rem 5rem;
        width: 100%;
    }
    
    #section_gallery_1{
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        width: 35rem;
        padding: 2rem 0rem;
        flex-wrap: wrap;
        align-content: center;
        text-align: center;
        margin-bottom: 12rem;
    }
    
    #section_gallery_2{
        display: flex;
        gap: 1rem;
        align-items: center;
        max-width: 100%;
        width: 100rem;
        margin: 3.3rem auto;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-evenly;
    }
    
    #section_gallery_2 div{
        display: flex;
        /* justify-content: center; */
        align-items: center;
        flex-direction: column;
        max-width: 100%;
    width: 300px;
        margin-bottom: 6rem;
    }
    
    
    #section_gallery_2 img{
        max-width: 80%;
        width: 35rem;
        background-repeat: no-repeat;
    }
    
    #section_gallery_2 h3{
        padding: 2rem 0;
        font-size: 1.4rem;
    }
    
    /* ================= <Section Gallery END>================= */
    
    
    /* ================= <Footer Start>================= */
    
    li {
        list-style: none;
    }
    
    .fa-facebook-f,.fa-twitter,.fa-instagram,.fa-linkedin-in,.fa-youtube,.policy_terms a, .copyright_text a{
        color: #f0f8ff;
        text-decoration: none;
    }
    
    
    .footer {
        background-color:var(--header-color);
        padding: 3rem 3rem;
        font-size: 2rem;
        
        /* font-family: 'Rubik', sans-serif; */
    }
    
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 3rem;
    }
    
    .top {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 4rem;
        border-bottom: 2px solid #ffffff;
        flex-direction: column;
        padding-bottom: 3rem;
        align-content: center;
    }
    
    .logo-details {
        margin-bottom: 3rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    .logo-details .fab {
        font-size: 4rem;
        /* font-weight: 300; */
        padding-right: 1.6rem;
    }
    
    .media-icons {
        
        display: flex;
        justify-content: flex-end;
        align-items: center;
    /* background-color: #87b79c; */
        gap: 3rem;
    
    }
    
    .media-icons a {
        
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        margin: 1rem;
        /* background-color: brown; */
    }
    
    .media-icons a img {
        display: block;
        background-color: rgba(0, 0, 0, 0.208);
        
        text-decoration: none;
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 1rem;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        width: 4.5rem;
        height: 4.5rem;
    }
    
    .link-boxes {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        color: #ffffff;
        flex-wrap: wrap;
    }
    
    .link-boxes .box{
        width: 100%;
    text-align: center;
    padding-bottom: 3rem;
    }

    .link_name {
        margin-bottom: 1rem;
        font-size: 2.7rem;
        position: relative;
        font-weight: 800;
    }
    /* .link_name::after{
        content: "_";
    position: absolute;
    left: 15.2rem;
    bottom: 0rem;
    transform: scaleX(3);
    } */
    
    .link-boxes .box li {
        font-size: 1.8rem;
        padding: .8rem 0;
        
    }
    
    .link-boxes .box li a {
        display: block;
        text-decoration: none;
        color: #f0f8ff;
    
    }
    
    
    .input-box li input {
        
        height: 6rem;
        border-radius: 1rem;
        border: none;
    }
    
    .input-box li input[placeholder] {
        font-size: 2rem;
        padding: 0 2rem;
        /* border: 2px solid #f0f8ff; */
        /* background-color: #1b1574; */
    }
    
    
    .input-box li input[value] {
        font-size: 2.2rem;
        font-weight: 600;
        letter-spacing: .2rem;
        padding: 0 2rem;
    }

}



@media screen and (min-width:800px) {

.header{
    padding: 2rem 3rem;
    background-color: #444c4b;
}

.header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 5rem; */
    color: var(--text-color);
}

.menu{
    display: none;
}

.nav-left{
    max-width: 40%;
}

.nav-left img{
    max-width: 30%;
    width: 60rem;
}

.nav-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 50%;
    gap: 10rem;
}

.nav_lists{
    display: flex;
    flex-wrap: wrap;
}

.nav_list{
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    /* height: 5rem; */
}

.nav_links{
    font-size:1.6rem;
    font-weight: 600;
    width: max-content;
}

.btn_div{
    background: transparent;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    padding: 1rem 3rem;
    font-size: 1.2rem;
    font-weight: 600;
    /* width: 12rem; */
    max-width: 35%;
}

.btn_active{
    border: none;
    outline: none;
    background: var(--btn-color);
}

.hearder_section{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 3rem 4rem;
}

.left, .right{
    width: 50%;
}

.left img{
    min-width: 50%;
    width: 30rem;
    max-height: 100%;
    height: 40rem;
    background-repeat: no-repeat;
}


.input_btn input{
    max-width: 100%;
    width: 40rem;
    height: 5rem;
    border: none;
    outline: none;
    
}
.input_btn input[placeholder]{
    padding: 0rem 5rem;
}

.input_btn::before{
    content: url(/images/icons8-mail-24.png);
    
    position: absolute;
    top: 13px;
    left: 16px;
}

.input_btn{
    position: relative;
    margin-top: 5rem;
}

.input_btn button{
    position: absolute;
    /* right: 23.5rem; */
    top: 0.8rem;
    left: 26rem;
}

.but_left{
    position: relative;
    left: -142px;
}

.object_fit{
    object-fit: cover;
}

.object_position_tl{
    object-position: top left;
}

.object_position_tr{
    object-position: top right;
}

.object_position_{
    object-position: center;
}

.h1{
    /* width: 40rem; */
    font-size: 3rem;
    font-weight: 650;
    margin-bottom: 1.4rem;  
}

.h1_bolder{
    max-width: 85%;
    width: 60rem;
    font-size: 4.5rem;
    /* height: 2rem; */
    color: var(--text-color);
    word-spacing: 0.5rem;
}

.h1_normal{
    width: 40rem;
    font-size: 3rem;
    font-weight: 650;
    margin-bottom: 1.4rem;  
}

.headings{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8rem 0;
}
.h1_head{
    width: 60rem;
    max-width: 70%;
    font-size: 4rem;
    word-spacing: 0.4rem;
    text-align: center;
    display: block;
    margin-bottom: 4rem;
}

.right{
    flex-direction: column;
}


.para{
    margin-top: 2rem;
    max-width: 80%;
    width: 58rem;
    font-size: 1.5rem;
    font-weight: 100;
    color: var(--text-color);
}

.para1{
    margin-top: 1rem;
    width: 43rem;
    max-width: 91%;
    font-size: 1.5rem;
    font-weight: 100;
    height: 8rem;
    color: #000; 
}


/* ================= <NavBar Header END>================= */

/* ================= <Section Connect Start>================= */
.section_connect{
    padding: 2rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project_count{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 20rem; */
    max-width: 100%;
    width: 800px;
}

.project_count div{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section_img{
    width: 140rem;
    text-align: center;
    /* background-color: aqua; */
    padding: 3rem;
    max-width: 100%;
}

#img2{
    width: 100%;
    height: 46rem;
    /* object-position: top right; */
}
/* ================= <Section Connect END>================= */

/* ================= <Section Grid Start>================= */

.section_grid{
    margin: 0 auto;
}

.section_grid div{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
}


/* ================= <Section Grid END>================= */


/* ================= <Section Gallery Start>================= */

.section_gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 5rem;
    width: 100%;
}

#section_gallery_1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    width: 1400px;
    padding: 3rem 0rem;
}

#section_gallery_2{
    display: flex;
    gap: 1rem;
    align-items: center;
    max-width: 100%;
    width: 100rem;
    margin: 3.3rem auto;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

#section_gallery_2 div{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    max-width: 50%;
    width: 300px;
}


#section_gallery_2 img{
    max-width: 80%;
    width: 35rem;
    background-repeat: no-repeat;
}

#section_gallery_2 h3{
    padding: 2rem 0;
    font-size: 1.4rem;
}

/* ================= <Section Gallery END>================= */


/* ================= <Footer Start>================= */

li {
    list-style: none;
}

.fa-facebook-f,.fa-twitter,.fa-instagram,.fa-linkedin-in,.fa-youtube,.policy_terms a, .copyright_text a{
    color: #f0f8ff;
    text-decoration: none;
}


.footer {
    background-color:var(--header-color);
    padding: 3rem 3rem;
    font-size: 2rem;
    
    /* font-family: 'Rubik', sans-serif; */
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 5rem;
    border-bottom: 2px solid #ffffff;
    flex-wrap: wrap;
}

.logo-details {
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo-details .fab {
    font-size: 4rem;
    /* font-weight: 300; */
    padding-right: 1.6rem;
}

.media-icons {
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
/* background-color: #87b79c; */
    gap: 6rem;

}

.media-icons a {
    
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    margin: 1rem;
    /* background-color: brown; */
}

.media-icons a img {
    display: block;
    background-color: rgba(0, 0, 0, 0.208);
    
    text-decoration: none;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 1rem;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    width: 4.5rem;
    height: 4.5rem;
}

.link-boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #ffffff;
    flex-wrap: wrap;
}



.link_name {
    margin-bottom: 1rem;
    font-size: 2.7rem;
    position: relative;
    font-weight: 800;
}
.link_name::after{
    content: "_";
    position: absolute;
    left: 1.2rem;
    bottom: 0rem;
    transform: scaleX(3);
}

.link-boxes .box li {
    font-size: 1.8rem;
    padding: .8rem 0;
    
}

.link-boxes .box li a {
    display: block;
    text-decoration: none;
    color: #f0f8ff;

}


.input-box li input {
    
    height: 6rem;
    border-radius: 1rem;
    border: none;
}

.input-box li input[placeholder] {
    font-size: 2rem;
    padding: 0 2rem;
    /* border: 2px solid #f0f8ff; */
    /* background-color: #1b1574; */
}


.input-box li input[value] {
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: .2rem;
    padding: 0 2rem;
}

/* ================= <Footer END>================= */

}